body {
    font-family: Roboto, Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

h1, h2, h3 {
    margin: 0;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8
}

h2 {
    font-size: 36px;
    font-weight: 900;
}

h3 {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.main-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.head-container,
.foot-container {
    background-color: #1F2937;
}

.quote-container {
    background-color: #E5E7EB;
}

/* Header */

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px;
    margin-bottom: 100px;
}

.left-header {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
    margin-right: 24px;
}

.right-header {
    display: flex;
}

.header-link {
    margin-right: 24px;
}

.head-content {
    display: flex;
    justify-content: center;
    font-size: 18px;
    color: #E5E7EB;

    margin-left: 32px;
    margin-right: 32px;
    margin-bottom: 100px;
}

.heading-container,
.img-container {
    width: 470px;
}

.heading-container {
    margin-right: 32px;
}

.head-button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 16px;
    font-weight: 700;
    margin-top: 16px;
    height: 34px;
    min-width: 120px;
    border: none;
    border-radius: 8px;
}

.head-button:hover {
    cursor: pointer;
}

.img-container {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: grey;
}

/* Info */

.info-header-container {
    margin-top: 42px;
    margin-bottom: 42px;
    display: flex;
    justify-content: center;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 64px;

    margin-bottom: 100px;
}

.card {
    width: 158px;
    text-align: center;
}

.card-box {
    height: 150px;
    width: 150px;
    border: solid;
    border-width: 4px;
    border-color: #3882F6;
    border-radius: 12px;

    margin-bottom: 8px;
}

.card p {
    font-size: 16px;
    color: #575757;
}

/* Quote */

.quote-container {
    display: flex;
    justify-content: center;
}

.quote-box {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 100px;
    max-width: 980px;
}

.quote-author {
    font-weight: 700;
    font-size: 24px;
    padding-top: 8px;
}

.author-box {
    display: flex;
    justify-content: flex-end;
}

.foot-container,
.sign-container {
    flex: 1;
}

/* Sign */
.sign-container {
    display: flex;
    justify-content: center;
}

.sign-box {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 1000px;
    background-color: #3882F6;
    border-radius: 8px;
    margin: 100px;
}

.sign-box-contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 24px;
    padding-right: 24px;
}

.sign-box-text {
    display: flex;
    flex-direction: column;
    margin-right: 48px;
}


.sign-box-header {
    display: flex;
    color: white;
    font-size: 24px;
    font-weight: 700;
}

.sign-box-subhead {
    display: flex;
    color: white;
}

.sign-button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 16px;
    font-weight: 700;
    height: 34px;
    min-width: 120px;
    border: solid;
    border-radius: 4px;
}

.sign-button:hover {
    cursor: pointer;
}

/* Footer */
.foot-container {
    display: flex;
    justify-content: center;
}

.footer-text {
    color: #E5E7EB;
    margin-top: 32px;
    margin-bottom: 32px;
}